<app-header></app-header>

<div class="container mt-5">
  <div class="row">

    <div class="col-md-6">
      <h1 class="text-center mb-3">Player List</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>SL</th>
          <th>Name</th>
          <th>Age</th>
          <th>Select</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players; let i = index">
            <td>{{i + 1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.age}}</td>
            <td><input type="checkbox" name="participant" [value]="player.id" (change)="selectParticipants($event)" /></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="isButtonVisible()">
        <form [formGroup]="pointForm">
          <span><input type="number"
                       id="point"
                       name="point"
                       formControlName="point"
                       class="form-control form-control-sm mb-3"
                       placeholder="Enter Highest Point"
                       required /></span>
        </form>

        <button class="btn btn-success btn-sm mx-2" (click)="startGame()">Start Game</button>
        <span *ngIf="game"><button class="btn btn-primary btn-sm" (click)="getScores()">See Scores</button></span>
      </div>
    </div>

    <div class="col-md-6">
      <h1 class="text-center mb-3">Scores</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>SL</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let score of scores; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ score.playerName }}</td>
            <td>{{ score.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
