<app-header></app-header>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-3">The Game</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>SL</th>
          <th>Name</th>
          <th>Age</th>
          <th>Select</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players; let i = index">
            <td>{{i + 1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.age}}</td>
            <td><input type="checkbox" name="participant" [value]="player.id" (change)="selectParticipants($event)" /></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="isButtonVisible()">
        <button *ngIf="isButtonVisible()" class="btn btn-success btn-sm" (click)="startGame()">Start Game</button>
      </div>
    </div>
  </div>
</div>
